#chatbot {
    display: none; 
  }
  
#chatbot.open {
    display: block;
    position: fixed;
    right: 50px;
    bottom: 20px;
    width: 300px;
    height: 500px;
  }

#chat-toggle {
    position: relative;
    float:right;
}