body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

.services div:hover {
    cursor: pointer;
}


.services {
    position: relative;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(2,230px);
    grid-template-rows: repeat(3,100px);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    color: aliceblue;
    align-items: center;
    text-align: center;
}

.services p {
    margin: 0;
    font-size: 20px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 3; }

.services > div {
    border-radius: 7px;
    background-image: linear-gradient(to right, #133666, #13325c, #132f52, #142b49, #15273f);
    padding: 40px 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.vl {
    border-left: 30px solid whitesmoke;
    height: 100vh;
    -webkit-box-shadow: 12px -1px 8px -1px rgba(0,0,0,0.46); 
    box-shadow: 12px -1px 8px -1px rgba(0,0,0,0.46);
    z-index: 2;
  }

.right {
    position: relative;
    width: 45%;
    padding: 34px 50px;
    background-color:rgb(199, 199, 199);
}
.ncServices{
    display: flex;
    flex-direction: column;
}
.left {
    width: 55%;
    padding: 20px;
    background-color: whitesmoke;
}

.welcome-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    margin: 0;

}

h1 {
    margin-bottom: 10px; /* Added margin to separate text and inputs */
}
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    margin-top: 100px;
    margin-left: 300px;
    max-width: 1000px; /* Add a max-width to prevent it from taking up too much space */
    opacity: 0;
    transform: translateY(-20px);
    animation: slideAnimation 1s forwards;
}
@keyframes slideAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideAnimationContent {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.home-text {
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size:20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    animation: slideAnimationContent 1s forwards;
}

.side-content {
    text-align: center;
    padding: 50px;
    margin-left: 30px;
    font-size: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideAnimationContent 1s forwards;
}

.button-pair {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.cash-button {
    width: 46%;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    padding: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.other-button {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 30px;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-height: 50px; /* Adjust the maximum height as needed */
}
.side-service{
    display: flex;
    margin-top: 100px;
}

.side-service p{
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    width: 20%;
}

.ncServices img {
    display: block;
    max-width: 100%;
    float: right;
    margin: 15px;
}
.card-activate, .balance {
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
    width: 130px;
    border-radius: 20px;
    margin: 0 10px; /* Add some margin for spacing */
}
.exit {
    position: absolute;
    top: 20px;
    right: 20px;
}
@media (max-width: 768px) {
    .home-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: 0;
    }
  
    .home-text, .side-content {
      margin: 0;
    }
  
    /* .button-pair, .side-service {
      flex-direction: column;
    } */
  
    .cash-button, .other-button, .card-activate, .balance {
      width: 100%;
    }



    .services {
        grid-template-columns: repeat(2,100px);
        grid-template-rows: repeat(3,80px);
        
    }

    .services p {
        font-size: 10px;
    }
  }